body {
   background-color: rgb(230, 230, 230);
}

.row {
   border: 1px solid darken(rgb(230, 230, 230), 10%);
}

.col-xs-4, .col-xs-6, .col-xs-12 {
   border: 1px solid darken(rgb(230, 230, 230), 10%);   
}